.hero { 
   
   &--header{
   margin-top: 215px;
  
   }
   &__info {
      font-family: $main-font-family;
      @include flex-col(4);
   }
   &__title {
      font-family: $main-font-family;
      font-size: rem(60);
      font-weight: 800;
   }
   &__photo{
      position: absolute;
      top: 0;
      z-index: -1;
      
   }
.flat-btn {
	margin-top: 30px;
   &:hover{
      opacity: 0.5;
   }
}
  
}
 .scroller {
    display: flex;
      flex-direction: row;
      justify-content: center;
    flex-wrap: nowrap;
    margin-top: 225px;
    margin-bottom: 70px;
      
      
   }
